.animation-image {
  animation: animate-image linear 20s infinite;
  display: flex;
  left: 0;
  position: relative;
  transform: translate(-100%);
  width: 100%;
}

.animation-image__image {
  margin: 0 20px;
  max-width: 100%;
}
