.allies {
  margin: 3% 5% 10% 5%;

  @media (min-width: $breakpoint-md) {
    margin: 3% 5% 1% 5%;
  }

  @media (min-width: $breakpoint-lg) {
    margin: 1% 5% 1% 5%;
  }
}

.allies__item {
  display: block;
  padding: 5% 0 5% 25%;
  width: 50%;

  @media (min-width: $breakpoint-md) {
    display: inline-block;
    padding: 0 0 5% 5%;
    width: 27%;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 1% 0 5% 5%;
    width: 20%;
  }

  @media (min-width: $breakpoint-xl) {
    padding: 1% 0 2% 2%;
    width: 15%;
  }
}

.allies__item:last-child {
  padding-bottom: 1%;

  @media (min-width: $breakpoint-lg) {
    padding-bottom: 6%;
  }

  @media (min-width: $breakpoint-xl) {
    padding-bottom: 2%;
  }
}

.allies__item--size {
  display: block;
  padding: 5% 0 5% 36%;
  width: 35%;

  @media (min-width: $breakpoint-md) {
    display: inline-block;
    padding: 0 0 5% 7%;
    width: 15%;
  }

  @media (min-width: $breakpoint-lg) {
    display: inline-block;
    padding: 1% 0 5% 3%;
    width: 12%;
  }

  @media (min-width: $breakpoint-xl) {
    padding: 1% 0 2% 3%;
    width: 9%;
  }
}

.allies__item--size2{
  @media (min-width: $breakpoint-xl) {
    padding: 1% 0 5% 3%;
    width: 20%;
  }
}

.allies__title {
  color:$white;
  font-family: $title;
  font-size: $txt-medium;
  padding-left:5%;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-large;
    padding-left:0;
    margin: 4% 0 2% 0;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: $txt-large;
    margin-top: 2%;
  }
}