.copy {
  color: $white;
  font-family: $regular-txt;
  font-size: 1.2rem;
  padding: 0 0 2% 5%;
  margin: 0;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }
}

.proxy__img {
  width: 29%;

  @media (min-width: $breakpoint-md) {
    width: 15%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 6%;
  }
}

.copy__contact {
  color: $white;
  font-family: $title;
  font-size: 1.2rem;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }
}