.media {
  padding-bottom: 3%;
}

.media__icon {
  padding-top: 1%;
  width: 3%;

  @media (min-width: 414px) {
    width: 8%;
  }
  @media (min-width: 768px) {
    width: 5%;
  }
}

.media__link + .media__link {
  padding-left: 2%;
}

.media__icon--pdl {
  padding-left: 25%;
  
  @media (min-width: 414px) {
    padding-left: 35%;
  }
  @media (min-width: 768px) {
    padding-left: 43%;
  }
}
