.img-footer__proxy {
  padding: 10% 0 0 5%;
  width: 25%;

  @media (min-width: $breakpoint-md) {
    width: 18%;
    padding: 5% 0 0 5%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 7%;
    padding: 2% 0 0 5%;
  }

  @media (min-width: $breakpoint-xl) {
    width: 6%;
  }
}

.title-footer {
  margin: 0;
  padding: 6% 6% 1% 6%;
}

.title-footer__concat { 
  color: $white;
  font-family: $title;
  font-size: $txt-small;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }
}

.title-footer__wrong {
  position: relative;
  top: 4px;
  width: 35%;

  @media (min-width: $breakpoint-md) {
    padding-left: 1%;
    top: 8px;
    width: 25%;
  }
  @media (min-width: $breakpoint-lg) {
    width: 10%;
  }

  @media (min-width: $breakpoint-xl) {
    top: 5px;
    width: 12%;
  }

  @media (min-width: 1680px) {
    top: 8px;
    width: 9%;
  }
}

footer {
  background: transparent url("/img/bg-footer-h.jpg") no-repeat;
}