.allies {
  grid-column-start: 1;
  grid-column-end: 5;
}

.allies__imgs {
  display: grid;
  padding-left: 350px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 120px;
  }
  @media (max-width: 414px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-left: 80px;
  }
}

.allies__item {
  align-self: center;
  justify-self: center;
  width: 200px;
}

.allies__item--size {
  width: 100px;
}

.allies__item--size2 {
  width: 200px;
}

.allies__item--size3 {
  width: 200px;
} 

.allies__item--size4 {
  width: 245px;
}

.allies__title {
  color: #fff;
  font-family: Cooper-Hewitt;
  font-size: 28px;
  padding-left:55px;  
  padding-top:25px;
  @media (max-width: 414px) {
    font-size: 24px;
  }
}

.copy {
  color: #fff;
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-left: 70px;
  @media (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  @media (max-width: 414px) {
    grid-column-start: 1;
    grid-column-end: 7;
  }
}

.copy__proxy {
  color: #fff;
  font-family: Bugfast;
  font-size: 20px;
}

.copy__contact--bold {
  color: #fff;
  font-family: Cooper-Hewitt;
  font-size: 20px;
}

.media {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  @media (max-width: 768px) {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  @media (max-width: 414px) {
    grid-column-start: 2;
    grid-column-end: 4;
    padding-bottom: 30px;
  }
}

.media__icon {
  padding-top: 25px;
  width: 40px;
}

.media__icon--link + .media__icon--link {
  padding-left: 40px;
}

.media__icon--pdl {
  padding-left: 50px; 
}

.title-footer {
  padding-left:55px;  
  padding-top: 50px;
  grid-column-start: 1;
  grid-column-end: 4;
  @media (max-width: 768px) {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  @media (max-width: 414px) {
    grid-column-start: 1;
    grid-column-end: 7;
  }
}

.title-footer__concat { 
  color: #fff;
  font-family: Cooper-Hewitt;
  font-size: 24px;
  padding-left: 6px;
  @media (max-width: 768px) {
    font-size: 22px;
  }@media (max-width: 414px) {
    font-size: 18px;
  }
}

.title-footer__proxy {
  color: #fff;
  font-family: Bugfast;
  font-size: 24px;
  @media (max-width: 768px) {
    font-size: 22px;
  }
  @media (max-width: 414px) {
    font-size: 18px;
  }
}

.title-footer__wrong {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 28px;
  padding-left: 10px;
  @media (max-width: 768px) {
    font-size: 24px;
  }
  @media (max-width: 414px) {
    font-size: 20px;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 125px 1fr 1fr 1fr;
  grid-template-rows:  100px 1fr 50px 150px;
  grid-gap: 10px;
  background-image: url(/img/bg-footer-h.jpg);
}