.desc-pabellon {
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.desc-req {
  color: $white;
  padding: 10%;

  @media (min-width: $breakpoint-md) {
    padding-top: 0;
  }

  @media (min-width: $breakpoint-lg) {
    padding-top: 1%;
  }
}

.pabellon__img {
  background: transparent url(/img/pabellon.png) no-repeat;
  display: inline-block;
  margin-top: 14%;
  overflow: hidden;
  text-indent: 100%;
  height: 400px;
  width: 18%;
  white-space: nowrap;

  @media (min-width: $breakpoint-md) {
    margin-left: 5%; 
    width: 7%;
  }

  @media (min-width: $breakpoint-lg) {
    margin-left: 8%;
    margin-top: 8%;
  }

  @media (min-width: $breakpoint-xl) {
    margin-left: 20%;
  }
}

.pabellon__title {
  font-size: 1.2rem;
}

.pabellon__text {
  letter-spacing: 2px;
  line-height: 1.58;
  
  @media (min-width: $breakpoint-md) {
    font-size: $txt-small;
  }
}

.req {

  @media (min-width: $breakpoint-xl) {
    padding-left: 10%;
    width: 75%;
  }
}

.req__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;  
  & ::before {
    content: "- ";
  }
}

.req__list-item {
  color: $white;
  letter-spacing: 2px;
  line-height: 1.58;
  margin-bottom: 7%;
  padding-right: 3%;
  width: 100%;
  @media (min-width: $breakpoint-md) {
    width: 47%;
  }
}

.req__title {
  font-size: $txt-large;
  text-align: center;

  @media (min-width: $breakpoint-lg) {
    padding-bottom: 3%;
  }
}

.social-header {
  margin-top: 25%;

  @media (min-width: $breakpoint-lg) {
    margin-top: 13%;
  }
}

.wrapper-desc {
  padding: 9% 3% 0 0;
  width: 75%;

  @media (min-width: $breakpoint-md) {
    padding-top: 8%;
  }

  @media (min-width: $breakpoint-xl) {
    width: 50%;
    padding: 5% 15% 0 0;
  }
}
