.desc-pabellon {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 30px;
  @media (min-width: $breakpoint-xl) {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.desc-req {
  padding: 5px 15px 60px;

  @media (min-width: $breakpoint-lg) {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.pabellon__img {
  background: transparent url(/img/pabellon.png) no-repeat;
  display: inline-block;
  height: 457px;
  margin: 0;
  overflow: hidden;
  text-indent: 100%;
  width: 75px;
  white-space: nowrap;
 
  @media (min-width:$breakpoint-md) {
    display: inline-block;
    margin: 0 auto;
    }
}

.req {
  @media (min-width: $breakpoint-xl) {
    padding-left: 10%;
    width: 75%;
  }
}

.req__list {
  list-style: decimal-leading-zero;
}

.req__list-item {
  margin: 0 auto; 
  padding: 10px;

  @media (min-width: $breakpoint-md) {
    width: 85%;
  }
}

.req__title {
  text-align: center;
}
