.desc-pabellón {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.desc-req {
  color: #fff;
  padding: 10%;

  @media (min-width: $breakpoint-md) {
    padding-top: 0;
  }

  @media (min-width: $breakpoint-lg) {
    padding-top: 1%;
  }
}

.pabellón__img {
  padding: 27% 0 10% 0;
  height: 400px;
  width: auto;

  @media (min-width: $breakpoint-md) {
    padding: 10% 0 10% 5%;
  }

  @media (min-width: $breakpoint-xl) {
    padding: 5% 0 10% 20%;
  }
}

.pabellón__text--bold {
  font-weight: bold;
}

.pabellón__text {
  letter-spacing: 2px;
  line-height: 1.58;
  
  @media (min-width: $breakpoint-md) {
    font-size: $txt-small;
  }
}

.req{

  @media (min-width: $breakpoint-xl) {
    padding-left: 17%;
    width: 75%;
  }
}

.req__item-text {
  display: inline-block;
  letter-spacing: 2px;
  line-height: 23px;
  margin-bottom: 5%;
  padding-right: 3%;

  @media (min-width: $breakpoint-md) {
    width: 43%;
  }
}

.req__item-text--pos {

  @media (min-width: $breakpoint-md) {
   float: right;
  }
}

.req__title {
  font-size: 30px;
  text-align: center;

  @media (min-width: $breakpoint-lg) {
    font-size: 30px;
    padding-bottom: 3%;
  }
}

.wrapper-desc {
  padding: 20% 3% 0 0;
  width: 75%;

  @media (min-width: $breakpoint-md) {
    padding: 8% 3% 0 0;
  }

  @media (min-width: $breakpoint-xl) {
    width: 50%;
    padding: 5% 15% 0 0;
  }
}
