// titles
h1 {
  font-size: $txt-x-huge;
}

h2 {
  font-family: Cooper-Hewitt;
  font-size: $txt-huge;

}

h3 {
  font-family: Cooper-Hewitt;
  font-size: $txt-x-large;
}

h4 {
  font-family: Cooper-Hewitt;
  font-size: $txt-large;
}

p {
  font-family: $regular-txt;
  font-size: $txt-medium;
}