// titles
body {
  background: black;
  margin: 0;
  padding: 0;
}

ul {
  font-family: $regular-txt;
  list-style: none;
}

button {
  outline: none;
}

h1 {
  color: $white;
  font-family: $title; 
  font-size: $txt-large;
  
  @media (min-width: $breakpoint-md) {
    font-size: $txt-x-large;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-huge;
  }
}

h2 {
  color: $white;
  font-family: $title;
  font-size: $txt-large;
  letter-spacing: 3px;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    font-size: $txt-x-large;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-huge;
  }
}

h3 {
  color: $white;
  font-family: $title;
  font-size: $txt-medium;
  @media (min-width: $breakpoint-md) {
    font-size: $txt-large;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-huge;
  }
}

h4 {
  color: $white;
  font-family: $title;
  font-size: $txt-medium;
  @media (min-width: $breakpoint-md) {
    font-size: $txt-large;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-x-large;
  }
}

p {
  color: $white;   
  font-family: $regular-txt;
  font-size: $txt-small;
  letter-spacing: 2px;
  line-height: 1.58;
  opacity: 0.8;
  text-align: initial;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-medium;
  }
}

a {
  text-decoration: none;
}

li{
  color: $white;
  font-size: $txt-small;
  letter-spacing: 2px;
  line-height: 1.58;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }
  @media (min-width: $breakpoint-xl) {
    font-size: $txt-large;
  }
}

.details-ui {
  color: $white;
  display: block;
  font-size: .8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  &:hover{
    &:after{
      animation: glitch 1.5s infinite linear;
      background: $black;
      color: $white;
      content:"mas detalles +";
      top: -5;
      left: -6px;
      overflow: hidden;
      position: absolute;
      right: 0;
      text-shadow: 1px -1px  1px $turquoise;
    }
  
    &:before{
      animation: glitch 1.5s infinite linear;
      background: $black;
      color: $white;
      content:"mas detalles +";
      top: 0;
      left: 5px;
      overflow: hidden;
      position: absolute;
      right: 0;
      text-shadow: -1px 1px  1px $turquoise;
    }
  }


  @media ( min-width: $breakpoint-lg) {
    font-size: $txt-medium;
  }
}