// titles
body {
  background: black;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  outline: none;
}

h1 {
  font-family: $title; 
  font-size: $txt-huge;
}

h2 {
  font-family: $title;
  font-size: $txt-huge;
}

h3 {
  font-family: $title;
  font-size: $txt-x-large;
}

h4 {
  font-family: $title;
  font-size: $txt-large;
}

p {
  font-family: $regular-txt;
  font-size: $txt-medium;
}

a {
  text-decoration: none;
}

.details-ui {
  color: $white;
  display: block;
  font-size: .8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;

  &:after{
    animation: glitch 1.5s infinite linear;
    background: $black;
    content:"mas detalles +";
    color: $white;
    top: -5;
    left: -6px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-shadow: 1px -1px  1px $turquoise;
  }
  
  &:before{
    animation: glitch 1.5s infinite linear;
    background: $black;
    content:"mas detalles +";
    color: $white;
    top: 0;
    left: 5px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-shadow: -1px 1px  1px $turquoise;
  }

  @media ( min-width: $breakpoint-lg) {
    font-size: 1rem;
  }
}