@font-face{
  font-family: "Cooper-Hewitt", "Arial", sans-serif;
  src: url("/src/fonts/CooperHewitt-Medium.otf") format("otf");
}

// primary-colors
$white: #fff;
$green: #16E024;
$green-transparent: rgba(21, 255, 9, 0.398);
$black: #000;

// glitch
$white-blue: #00dffd;
$aqua: #2af598;
$pink: #fd39d2;

// background btn artist
$blue: rgba(39, 22, 224, 0.781);
$turquoise: rgba(0, 223, 253, 0.74);
$black-transparent: rgba(0, 0, 0, 0.344);

//hover btn artist
$blue-hover:  rgba(39, 22, 224, 0.541);
$turquoise-hover: rgba(0, 223, 253, 0.69);


// subtitles
$title: "Cooper-Hewitt", "Arial", sans-serif;
// regular text
$regular-txt: 'Lexend Deca', 'Helvetica',sans-serif;

// font-sizes
$txt-small: 1rem;
$txt-medium: 1.3rem;
$txt-large:  1.5rem;
$txt-x-large: 2.2rem;
$txt-huge:  3rem;
$txt-x-huge: 5.62rem;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1200px;
