// primary-colors
$white: #ffff;
$green: #16E024;
$black: #000000;


// glitch
$white-blue: #00dffd;
$aqua: #2af598;
$pink: #fd39d2;


// hover btn artist
$blue: #2616e0;
$turquoise: #00DFFD;

// typography

// regular text
$regular-txt: 'Lexend Deca', sans-serif;


// Subtitles
@font-face {
  font-family: Cooper-Hewitt;
  src: url(//src/fonts/CooperHewitt-Semibold.otf) format('otf');
}

