@font-face{
  font-family: 'Cooper-Hewitt', 'Arial', sans-serif;
  src: url('/src/fonts/CooperHewitt-Medium.otf') format('otf');
}

// primary-colors
$white: #ffff;
$green: #16E024;
$black: #000;

// glitch
$white-blue: #00dffd;
$aqua: #2af598;
$pink: #fd39d2;

// hover btn artist
$blue: #2616e0;
$turquoise: #00DFFD;

// subtitles
$title: 'Cooper-Hewitt', 'Arial', sans-serif;
// regular text
$regular-txt: 'Lexend Deca', 'Helvetica',sans-serif;

// font-sizes
$txt-small: 1em;
$txt-medium: 1.37em;
$txt-large: 2.7em;
$txt-x-large: 3.12em;
$txt-huge: 3.75em;
$txt-x-huge: 5.62em;

// breakpoints
$breakpoint-md: 760px;
$breakpoint-lg: 980px;
$breakpoint-xl: 1100px;