// colors

//primary-colors
$white:#ffff;
$green:#16E024;
$black:#000000;


//secondary colors

//glicth
$white-blue:#00dffd;
$aqua:#2af598;
$pink:#fd39d2;


//hover btn artist

$blue:#2616e0;
$turquoise:#00DFFD;

// typographies
$titles: 'Roboto Condensed', sans-serif;
$regular-txt: 'Lexend Deca', sans-serif;
$header-txt:'Bungee Shade', cursive;
