// colors

//primary-colors
$white:#ffff;
$green:#16E024;
$black:#000000;


//secondary colors

//glicth
$white-blue:#00dffd;
$aqua:#2af598;
$pink:#fd39d2;


//hover btn artist

$blue:#2616e0;
$turquoise:#00DFFD;

// typographies
//$titles: 'Roboto Condensed', sans-serif;
//$regular-txt: 'Lexend Deca', sans-serif;

//titles

h2,h3{
  font-family: $titles;
}

//font-sizes
h1{
  font-size: 5.625em;
}

h2{
  font-size:3.750em;
}

h3{
  font-size: 3.125em;
}

p{
  font-size: 1.375em;
}