// colors

//primary-colors
$white:#ffff;
$green:#16E024;
$black:#000000;


//secondary colors

//glicth
$white-blue:#00dffd;
$aqua:#2af598;
$pink:#fd39d2;


//hover btn artist

$blue:#2616e0;
$turquoise:#00DFFD;

// typography
$titles: 'Roboto Condensed', sans-serif;
$regular-txt: 'Lexend Deca', sans-serif;


// USING ONLY IN HEADER
$header-txt:'Bungee Shade', cursive;


// Subtitles
@font-face {
  font-family: Cooper-Hewitt;
  src: url(//src/fonts/CooperHewitt-Semibold.otf) format('otf');
}


// USING ONLY IN HEADER
@font-face {
  font-family: Bugfast;
  src: url(//src/fonts/Bugfast.otf) format('otf');;
}
