.content-img {
  text-align: center;
  width: 100%;

  @media (min-width: $breakpoint-xl) {
    margin: 0 auto;    
    max-width: 1200px; 
  }
}
.img-org {
  width: 100%;

  @media (min-width: $breakpoint-md) {
    margin: 0 auto;
    width: 80%;
    
  }
}


.title-org {
  text-align: center;
}

.wrapper-org {
  padding: 5px 15px 60px;

  @media (min-width:$breakpoint-md) {
    margin: 0 auto;
    width: 80%;
  }
  @media (min-width: $breakpoint-xl) {
    margin: 0 auto;    
    max-width: 1200px;  
  }

}

