.desc-proxy {
  padding: 20px 15px 30px;

  @media (min-width: $breakpoint-md) {
    margin: 0 auto;
    width: 80%;
  }

  @media (min-width: $breakpoint-xl) {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 0;
  }
}

.img-proxy {
  background: transparent url("/img/proxy.svg") no-repeat;
  margin: 0; 
  overflow: hidden;
  text-indent: 100%;
  width: 28%;
  white-space: nowrap;

  @media (min-width: $breakpoint-md) {
    width: 19%;
  }
}


