.desc-proxy {
  margin-top: 17%;
  padding: 15% 7% 0 10%;

  @media (min-width: $breakpoint-md) {
    margin-top: 2%;
    padding: 10% 0 0 25%;
    width: 50%;
  }

  @media (min-width: $breakpoint-xl) {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 0;
  }
}

.img-proxy {
  background: transparent url("/img/proxy.svg") no-repeat;
  margin: 0; 
  overflow: hidden;
  text-indent: 100%;
  width: 28%;
  white-space: nowrap;

  @media (min-width: $breakpoint-md) {
    width: 19%;
  }
}

.proxy__text {
  color: $white;
  font-size: $txt-small;

  @media (min-width: $breakpoint-md) {
    font-size: $txt-medium;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: $txt-large;
  }
}

.social-header{
  margin-top: 12%;
}
