.works__title {
  margin: 30px 0;

  @media (min-width: $breakpoint-md) {
    margin-bottom: 70px;
	}
}

.works__content-work {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 30px 0 80px;
  padding: 0 30px;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: initial;
    margin: 50px 0;
    padding: 30px;
  }
  
  @media (min-width: $breakpoint-lg) {
    padding: 60px;
	}
}

.wrapper-images {
  position: relative;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    width: 45%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 35%;
  }
  
  @media (min-width: $breakpoint-xl) {
    width: 30%;
	}
}

.wrapper-image--right {
  order: 1;

  @media (min-width: $breakpoint-md) {
    order: 2;
  }
}

.wrapper-image__image {
  max-width: 100%;
}

.wrapper-image__name {
  text-align: center;
  margin: 10px 0 0; 

  @media (min-width: $breakpoint-md) {
    font-weight: bold;
    margin: 0;
    position: absolute;
    right: -95%;
    text-align: left;
    top: 0;
    width: 300px;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 3.5rem;
    right: -85%;
	}
}


.wrapper-image--right::after {
  content: "_17 -19_";
  color: $white;
  font-size: $txt-large;
  font-weight: bold;
  left: 80%;
  position: absolute;
  text-align: left;
  top: 0;
  width: 20%;
}

.lastname {
  @media (min-width: $breakpoint-md) {
    top: 40px;
  }

  @media (min-width: $breakpoint-lg) {
    top: 50px;
  }
}

.wrapper-image__name--right {
  text-align: center;
  margin: 10px 0 0; 

  @media (min-width: $breakpoint-md) {
    font-weight: bold;
    left: -95%;
    position: absolute;
    text-align: right;
    top: 0;
    width: 300px;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 3.5rem;
    left: -85%;
	}
}

.lastname--right {
  @media (min-width: $breakpoint-md) {
    top: 40px;
  }

  @media (min-width: $breakpoint-lg) {
    top: 50px;
  }
}


.wrapper-text {
  padding: 0;
  position: relative;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    padding: 0 40px;
    width: 55%;
  }

  @media (min-width: $breakpoint-xl) {
    width: 70%;
	}
}

.wrapper-text--right {
  order: 2;

  @media (min-width: $breakpoint-md) {
    order: 1;
    padding: 0 40px;
    width: 55%;
  }
}

.wrapper-text::before {
  content: "Obra";
  color: $white;
  display: none;
  font-size: 1.1rem;
  font-weight: bold;
  opacity: .7;
  position: absolute;
  width: 20%;

  @media (min-width: $breakpoint-md) {
    display: block;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 1.3rem;
  }
}

.wrapper-text::before {
  left: 35px;
  top: 50%;

  @media (min-width: $breakpoint-md) {
    left: 15px;
    top: 40%;
  }

  @media (min-width: $breakpoint-lg) {
    top: 40%;
	}
}

.wrapper-text--right::before {
  right: -70px;

  @media (min-width: $breakpoint-md) {
    left: 85%;
  }

  @media (min-width: $breakpoint-lg) {
    top: 40%;
	}
}

.wrapper-text::after {
  background: $white;
  content: "";
  height: 2px;
  left: 15px;
  opacity: .7;
  position: absolute;
  top: 60%;
  width: 60px;

  @media (min-width: $breakpoint-md) {
    display: block;
    top: 50%;
  }

  @media (min-width: $breakpoint-lg) {
    top: 50%;
	}
}

.wrapper-text--right::after {
  right: 15px;

  @media (min-width: $breakpoint-md) {
    left: 85%;
  }
}

.wrapper-text__paragraph {
  bottom: 15%;
  opacity: .9;
  position: relative;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    bottom: 5%;
    font-size: 1rem;
    position: absolute;
    width: 90%;
  }

  @media (min-width: $breakpoint-lg) {
    bottom: 15%;
    width: 85%;
  }
  
  @media (min-width: $breakpoint-xl) {
    bottom: 10%;
    font-size: 1.2rem;
	}
}

.wrapper-text__paragraph--rigth {
  bottom: 15%;
  opacity: .9;
  position: relative;
  right: 0;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    bottom: 5%;
    font-size: 1rem;
    position: absolute;
    right: 5%;
    width: 90%;
  }

  @media (min-width: $breakpoint-lg) {
    bottom: 15%;
    width: 85%;
  }

  @media (min-width: $breakpoint-xl) {
    bottom: 10%;
    font-size: 1.2rem;
	}
}

.wrapper-text__details {
  bottom: 0;
  right: 0;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    position: absolute;
    text-align: left;
  }

  @media (min-width: $breakpoint-lg) {
    bottom: 5%;
    right: 10%;
  }
  
  @media (min-width: $breakpoint-xl) {
    bottom: 0;
	}
}

.wrapper-text__details--right {
  bottom: 0;
  left: 0;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    left: 55%;
    position: absolute;
    text-align: left;
  }

  @media (min-width: $breakpoint-lg) {
    bottom: 5%;
    left: 65%;
  }
}

.modalities__btn-obras {
  border: 2px solid $green;
  box-sizing: border-box;
  color: $green;
  display: block;
  font-family: $regular-txt;
  font-size: .9rem;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  text-align: center;
  transition: all .35s;
  width: 180px;

  &:hover{
    color: $black;
  }

  &:hover:after{
    width: 100%;
  }

  &:after{
    background: $green;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .25s;
    width: 0;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 1rem;
    padding: 15px;
    width: 220px;
	}
}

.modalities__btn-obras span{
  font-weight: bold;
  position: relative;
  z-index: 2;
}