.media {
  padding-bottom: 5%;
  padding-top: 5%;

  @media (min-width: $breakpoint-md) {
    padding-top: 1%;
  padding-bottom: 2%;
  }

  @media (min-width: $breakpoint-xl) {
    padding-bottom: 1%;
  }
}

.media__icon {
  width: 10%;

  @media (min-width: $breakpoint-md) {
    width: 5%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 4%;
  }

  @media (min-width: $breakpoint-xl) {
    width: 2.5%;
  }
}

.media__link + .media__link {
  padding-left: 2%;
}

.media__icon--pdl {
  padding-left: 40%;

  @media (min-width: $breakpoint-lg) {
  padding-left: 35%;
  }

  @media (min-width: $breakpoint-xl) {
    padding-left: 30%;
  }

  @media (min-width: 1600px) {
    padding-left: 26%;
  }
}
